In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("chicago.csv")

In [7]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0

In [12]:
df["S_Time"] = pd.to_datetime(df["Start Time"])

In [13]:
df["E_Time"] = pd.to_datetime(df["End Time"])

In [33]:
df1 = pd.read_csv("chicago.csv", parse_dates=[0])

In [34]:
df1.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0

In [52]:
def get_data(city_file_name):
    
    df = pd.read_csv(city_file_name, parse_dates=[0])
    
    return df

In [37]:
df = pd.read_csv("chicago.csv", parse_dates=[0])

In [ ]:
df["Start Month"] = df["Start Time"].dt.

In [42]:
a = df["Start Time"]

In [53]:
df = get_data("chicago.csv")

In [56]:
df.tail()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
1551500,2017-06-30 23:59:01,2017-07-01 00:08:41,580,Damen Ave & Division St,Halsted St & Blackhawk St (*),Subscriber,Male,1990.0
1551501,2017-06-30 23:59:14,2017-07-01 00:06:21,427,Canal St & Adams St,LaSalle St & Adams St,Subscriber,Male,1980.0
1551502,2017-06-30 23:59:18,2017-07-01 00:04:58,340,Sheffield Ave & Webster Ave,Sheffield Ave & Webster Ave,Subscriber,Female,1996.0
1551503,2017-06-30 23:59:28,2017-07-01 00:07:10,462,Clark St & Grace St,Clark St & Montrose Ave,Subscriber,Female,1968.0
1551504,2017-06-30 23:59:51,2017-07-01 00:13:57,846,Desplaines St & Jackson Blvd,Desplaines St & Kinzie St,Subscriber,Male,1975.0

In [78]:
df["Day_of_Start"] = df["Start Time"].dt.dayofweek

In [86]:
df.groupby(["Day_of_Start"]).size()

Day_of_Start
0    231477
1    237586
2    220217
3    223114
4    226840
5    212003
6    200268
dtype: int64

In [87]:
df.groupby(["Day_of_Start"]).size()

Day_of_Start
0    231477
1    237586
2    220217
3    223114
4    226840
5    212003
6    200268
dtype: int64

In [118]:
df.groupby(["Day_of_Start"]).size()

Day_of_Start
0    231477
1    237586
2    220217
3    223114
4    226840
5    212003
6    200268
dtype: int64

In [214]:
a = df.groupby(["Day_of_Start"]).size().to_dict()

In [215]:
a

{0: 231477, 1: 237586, 2: 220217, 3: 223114, 4: 226840, 5: 212003, 6: 200268}

In [216]:
b = list(a.items())

In [217]:
b

[(0, 231477),
 (1, 237586),
 (2, 220217),
 (3, 223114),
 (4, 226840),
 (5, 212003),
 (6, 200268)]

In [218]:
c = sorted(b, key=lambda x: x[1], reverse=True)

In [219]:
c

[(1, 237586),
 (0, 231477),
 (4, 226840),
 (3, 223114),
 (2, 220217),
 (5, 212003),
 (6, 200268)]

In [209]:
import sys

In [220]:
def popular_day(df):
    
    num_to_day = {0:"Monday", 1:"Tuesday", 2:"Wednesday", 3:"Thursday", 4:"Friday", 5:"Saturday", 6:"Sunday"}
    
    df["Day_of_Start"] = df["Start Time"].dt.dayofweek
    day_stats = df.groupby(["Day_of_Start"]).size().to_dict()
        
    day_stats = list(day_stats.items())

    sorted_by_days = sorted(day_stats, key=lambda x: x[1], reverse=True)
    
    popular_day = num_to_day[sorted_by_days[0][0]]
    no_of_ride = sorted_by_days[0][1]
    
    return popular_day, no_of_ride

In [221]:
popular_day(df)

('Tuesday', 237586)

In [182]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Day_of_Start
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN,6
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0,6
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0,6
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0,6
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0,6

In [240]:
def popular_month(df):
    
    num_to_month = {1:"Jan", 2:"Feb", 3:"Mar", 4:"Apr", 5:"May", 6:"Jun", 7:"Jul",\
                 8:"Aug", 9:"Sep", 10:"Oct", 11:"Nov", 12:"Dec"}
    
    df["Month_of_Start"] = df["Start Time"].dt.month
    month_stats = df.groupby(["Month_of_Start"]).size().to_dict()
        
    month_stats = list(month_stats.items())

    sorted_by_months = sorted(month_stats, key=lambda x: x[1], reverse=True)
    
    popular_month = num_to_month[sorted_by_months[0][0]]
    no_of_ride = sorted_by_months[0][1]
    
    return popular_month, no_of_ride

In [241]:
df["Month_of_Start"] = df["Start Time"].dt.month

In [242]:
month_stats = df.groupby(["Month_of_Start"]).size().to_dict()

In [243]:
month_stats

{1: 111942, 2: 166343, 3: 153406, 4: 268662, 5: 345988, 6: 505164}

In [244]:
popular_month(df)

('Jun', 505164)

In [253]:
def popular_hour(df):
    
    df["Hour_of_Day"] = df["Start Time"].dt.hour
    hour_stats = df.groupby(["Hour_of_Day"]).size().to_dict()
        
    hour_stats = list(hour_stats.items())

    sorted_by_hour = sorted(hour_stats, key=lambda x: x[1], reverse=True)
    
    popular_hour = sorted_by_hour[0][0]
    no_of_ride = sorted_by_hour[0][1]

    return popular_hour, no_of_ride

In [256]:
popular_hour(df)

(17, 186899)

In [262]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Day_of_Start,Month_of_Start,Hour_of_Day
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN,6,1,0
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0,6,1,0
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0,6,1,0
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0,6,1,0
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0,6,1,0

In [268]:
df = pd.read_csv("chicago.csv", parse_dates=[0])

In [285]:
df["Day_of_Start"] = df["Start Time"].dt.day

In [286]:
df["Hour_of_Start"] = df["Start Time"].dt.hour

In [287]:
df["Month_of_Start"] = df["Start Time"].dt.month

In [289]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Day_of_Start,Hour_of_Start,Month_of_Start
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN,1,0,1
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0,1,0,1
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0,1,0,1
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0,1,0,1
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0,1,0,1

In [301]:
df1 = df[df.Day_of_Start == 1]

In [303]:
df1[df1.Hour_of_Start == 17]

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Day_of_Start,Hour_of_Start,Month_of_Start
1311,2017-01-01 17:00:01,2017-01-01 17:24:43,1482,Streeter Dr & Grand Ave,Michigan Ave & Madison St,Customer,NaN,NaN,1,17,1
1312,2017-01-01 17:00:10,2017-01-01 17:07:09,419,Morgan St & Polk St,Wolcott Ave & Polk St,Subscriber,Male,1989.0,1,17,1
1313,2017-01-01 17:00:46,2017-01-01 17:10:35,589,Kingsbury St & Erie St,Ritchie Ct & Banks St,Subscriber,Male,1989.0,1,17,1
1314,2017-01-01 17:00:48,2017-01-01 17:08:24,456,Milwaukee Ave & Rockwell St,Kedzie Ave & Milwaukee Ave,Subscriber,Male,1992.0,1,17,1
1315,2017-01-01 17:00:53,2017-01-01 17:22:23,1290,Michigan Ave & 18th St,Morgan St & Lake St,Subscriber,Male,1986.0,1,17,1
1316,2017-01-01 17:01:04,2017-01-01 17:08:01,417,Milwaukee Ave & Rockwell St,Kedzie Ave & Milwaukee Ave,Subscriber,Female,1992.0,1,17,1
1317,2017-01-01 17:01:15,2017-01-01 17:04:46,211,Pine Grove Ave & Waveland Ave,Pine Grove Ave & Irving Park Rd,Subscriber,Female,1952.0,1,17,1
1318,2017-01-01 17:01:23,2017-01-01 17:05:51,268,Wilton Ave & Belmont Ave,Broadway & Cornelia Ave,Subscriber,Male,1990.0,1,17,1
1319,2017-01-01 17:01:26,2017-01-01 17:15:30,844,Ogden Ave & Congress Pkwy,Ogden Ave & Race Ave,Customer,NaN,NaN,1,17,1
1320,2017-01-01 17:01:38,2017-01-01 17:15:27,829,Clarendon Ave & Junior Ter,Lake Shore Dr & Belmont Ave,Subscriber,Male,1984.0,1,17,1
1321,2017-01-01 17:02:16,2017-01-01 17:08:01,345,Paulina St & Montrose Ave,Lincoln Ave & Belle Plaine Ave,Subscriber,Female,1988.0,1,17,1
1322,2017-01-01 17:02:19,2017-01-01 17:10:16,477,Kingsbury St & Kinzie St,McClurg Ct & Illinois St,Subscriber,Female,1984.0,1,17,1
1323,2017-01-01 17:02:24,2017-01-01 17:05:13,169,Clark St & Wellington Ave,Sheffield Ave & Wellington Ave,Subscriber,Male,1989.0,1,17,1
1324,2017-01-01 17:04:28,2017-01-01 17:08:55,267,Wells St & Elm St,Franklin St & Chicago Ave,Subscriber,Female,1979.0,1,17,1
1325,2017-01-01 17:04:30,2017-01-01 17:11:59,449,Wells St & Polk St,Canal St & Taylor St,Subscriber,Male,1954.0,1,17,1
1326,2017-01-01 17:04:30,2017-01-01 17:11:54,444,Wells St & Polk St,Canal St & Taylor St,Subscriber,Male,1991.0,1,17,1
1327,2017-01-01 17:04:57,2017-01-01 17:08:09,192,Wells St & Elm St,Franklin St & Chicago Ave,Subscriber,Male,1979.0,1,17,1
1328,2017-01-01 17:04:56,2017-01-01 17:17:55,779,Federal St & Polk St,Rush St & Cedar St,Subscriber,Male,1991.0,1,17,1
1329,2017-01-01 17:05:33,2017-01-01 17:13:28,475,Millennium Park,Buckingham Fountain,Subscriber,Male,1971.0,1,17,1
1330,2017-01-01 17:06:10,2017-01-01 17:13:28,438,Millennium Park,Buckingham Fountain,Subscriber,Female,1971.0,1,17,1
1331,2017-01-01 17:06:38,2017-01-01 17:17:51,673,Kimbark Ave & 53rd St,Ellis Ave & 58th St,Subscriber,Male,1988.0,1,17,1
1332,2017-01-01 17:07:28,2017-01-01 17:12:16,288,Sedgwick St & North Ave,Sedgwick St & Webster Ave,Subscriber,Male,1988.0,1,17,1
1333,2017-01-01 17:08:03,2017-01-01 17:27:55,1192,Lincoln Ave & Waveland Ave,Troy St & Elston Ave,Subscriber,Male,1990.0,1,17,1
1334,2017-01-01 17:08:25,2017-01-01 17:18:18,593,Lincoln Ave & Fullerton Ave,Wells St & Evergreen Ave,Subscriber,Male,1991.0,1,17,1
1335,2017-01-01 17:09:25,2017-01-01 17:25:46,981,Rockwell St & Eastwood Ave,Clark St & Berwyn Ave,Subscriber,Male,1980.0,1,17,1
1336,2017-01-01 17:09:32,2017-01-01 17:15:59,387,Lincoln Ave & Belmont Ave,Lincoln Ave & Diversey Pkwy,Subscriber,Female,1968.0,1,17,1
1337,2017-01-01 17:09:38,2017-01-01 17:15:06,328,Wilton Ave & Diversey Pkwy,Greenview Ave & Diversey Pkwy,Subscriber,Female,1982.0,1,17,1
1338,2017-01-01 17:10:52,2017-01-01 17:18:25,453,Sheffield Ave & Willow St,Sheffield Ave & Willow St,Subscriber,Male,1976.0,1,17,1
1339,2017-01-01 17:11:08,2017-01-01 17:14:03,175,Sheffield Ave & Webster Ave,Clifton Ave & Armitage Ave,Subscriber,Male,1982.0,1,17,1
1340,2017-01-01 17:11:10,2017-01-01 17:24:06,776,California Ave & North Ave,Ashland Ave & Division St,Subscriber,Male,1988.0,1,17,1
...,...,...,...,...,...,...,...,...,...,...,...
1058329,2017-06-01 17:58:53,2017-06-01 18:10:22,689,Wabash Ave & Grand Ave,Wells St & Concord Ln,Subscriber,Male,1994.0,1,17,6
1058330,2017-06-01 17:58:54,2017-06-01 18:20:06,1272,Michigan Ave & Madison St,Lake Shore Dr & North Blvd,Subscriber,Male,1991.0,1,17,6
1058331,2017-06-01 17:58:55,2017-06-01 18:04:45,350,Daley Center Plaza,Rush St & Hubbard St,Subscriber,Male,1951.0,1,17,6
1058332,2017-06-01 17:58:57,2017-06-01 18:19:41,1244,Daley Center Plaza,Bissell St & Armitage Ave,Subscriber,Male,1984.0,1,17,6
1058333,2017-06-01 17:58:59,2017-06-01 18:06:54,475,Canal St & Adams St,Desplaines St & Kinzie St,Subscriber,Male,1983.0,1,17,6
1058334,2017-06-01 17:58:59,2017-06-01 18:05:26,387,Sheffield Ave & Wellington Ave,Ashland Ave & Wellington Ave,Subscriber,Male,1983.0,1,17,6
1058335,2017-06-01 17:59:01,2017-06-01 18:03:32,271,Ogden Ave & Chicago Ave,Ashland Ave & Chicago Ave,Subscriber,Female,1979.0,1,17,6
1058336,2017-06-01 17:59:05,2017-06-01 18:06:49,464,Clark St & Wrightwood Ave,Clark St & Lincoln Ave,Subscriber,Female,1989.0,1,17,6
1058337,2017-06-01 17:59:11,2017-06-01 18:12:40,809,State St & Pearson St,Clark St & Lincoln Ave,Subscriber,Female,1958.0,1,17,6
1058338,2017-06-01 17:59:21,2017-06-01 18:17:40,1099,Sheffield Ave & Willow St,Broadway & Cornelia Ave,Subscriber,Male,1975.0,1,17,6
1058339,2017-06-01 17:59:23,2017-06-01 18:09:17,594,LaSalle St & Jackson Blvd,Wabash Ave & 8th St,Subscriber,Female,1988.0,1,17,6
1058340,2017-06-01 17:59:27,2017-06-01 18:02:35,188,Kingsbury St & Erie St,Kingsbury St & Kinzie St,Subscriber,Female,1990.0,1,17,6
1058341,2017-06-01 17:59:33,2017-06-01 18:20:17,1244,Halsted St & North Branch St,Theater on the Lake,Subscriber,Male,1983.0,1,17,6
1058342,2017-06-01 17:59:34,2017-06-01 18:05:23,349,Ravenswood Ave & Lawrence Ave,Ravenswood Ave & Berteau Ave,Subscriber,Male,1994.0,1,17,6
1058343,2017-06-01 17:59:36,2017-06-01 18:15:22,946,Streeter Dr & Grand Ave,Theater on the Lake,Subscriber,Female,1987.0,1,17,6
1058344,2017-06-01 17:59:38,2017-06-01 18:14:44,906,Shedd Aquarium,Stetson Ave & South Water St,Subscriber,Female,1988.0,1,17,6
1058345,2017-06-01 17:59:39,2017-06-01 18:18:40,1141,Lake Shore Dr & Belmont Ave,Lakefront Trail & Bryn Mawr Ave,Subscriber,Male,1992.0,1,17,6
1058346,2017-06-01 17:59:39,2017-06-01 18:10:54,675,Loomis St & Lexington St,Morgan St & Lake St,Subscriber,Female,1991.0,1,17,6
1058347,2017-06-01 17:59:40,2017-06-01 18:12:05,745,LaSalle St & Illinois St,Lake Shore Dr & North Blvd,Subscriber,Male,1984.0,1,17,6
1058348,2017-06-01 17:59:42,2017-06-01 18:09:10,568,Canal St & Monroe St (*),Michigan Ave & Madison St,Subscriber,Male,1986.0,1,17,6
1058349,2017-06-01 17:59:45,2017-06-01 18:09:55,610,Orleans St & Merchandise Mart Plaza,Wells St & Elm St,Subscriber,Male,1988.0,1,17,6
1058350,2017-06-01 17:59:46,2017-06-01 18:11:43,717,Ashland Ave & Division St,Larrabee St & North Ave,Subscriber,Male,1976.0,1,17,6
1058351,2017-06-01 17:59:49,2017-06-01 18:06:00,371,Clark St & Armitage Ave,Bissell St & Armitage Ave,Subscriber,Male,1993.0,1,17,6
1058352,2017-06-01 17:59:52,2017-06-01 18:27:58,1686,Wells St & Walton St,Wilton Ave & Belmont Ave,Subscriber,Male,1989.0,1,17,6
1058353,2017-06-01 17:59:53,2017-06-01 18:02:00,127,Ashland Ave & Division St,Wood St & Division St,Subscriber,Male,1982.0,1,17,6
1058354,2017-06-01 17:59:54,2017-06-01 18:24:52,1498,Lake Shore Dr & Diversey Pkwy,Wells St & Walton St,Subscriber,Male,1963.0,1,17,6
1058355,2017-06-01 17:59:57,2017-06-01 18:13:10,793,Sheffield Ave & Webster Ave,Lake Shore Dr & North Blvd,Subscriber,Female,1972.0,1,17,6
1058356,2017-06-01 17:59:58,2017-06-01 18:20:12,1214,Halsted St & Diversey Pkwy,Kedzie Ave & Milwaukee Ave,Subscriber,Male,1986.0,1,17,6
1058357,2017-06-01 17:59:59,2017-06-01 18:25:54,1555,Dearborn St & Adams St,MLK Jr Dr & 29th St,Subscriber,Male,1982.0,1,17,6
1058358,2017-06-01 17:59:59,2017-06-01 18:18:33,1114,Kingsbury St & Erie St,Sheffield Ave & Wellington Ave,Subscriber,Male,1983.0,1,17,6

In [302]:
df1

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Day_of_Start,Hour_of_Start,Month_of_Start
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN,1,0,1
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0,1,0,1
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0,1,0,1
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0,1,0,1
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0,1,0,1
5,2017-01-01 00:10:44,2017-01-01 00:21:27,643,State St & Kinzie St,Wells St & Polk St,Subscriber,Male,1970.0,1,0,1
6,2017-01-01 00:11:34,2017-01-01 00:23:47,733,Wabash Ave & Wacker Pl,Clinton St & Tilden St,Subscriber,Male,1986.0,1,0,1
7,2017-01-01 00:14:57,2017-01-01 00:26:22,685,Daley Center Plaza,Canal St & Monroe St (*),Customer,NaN,NaN,1,0,1
8,2017-01-01 00:15:03,2017-01-01 00:26:28,685,Daley Center Plaza,Canal St & Monroe St (*),Customer,NaN,NaN,1,0,1
9,2017-01-01 00:17:01,2017-01-01 00:29:49,768,Dayton St & North Ave,Ogden Ave & Chicago Ave,Customer,NaN,NaN,1,0,1
10,2017-01-01 00:17:13,2017-01-01 11:03:34,38781,Wilton Ave & Diversey Pkwy,Halsted St & Wrightwood Ave,Subscriber,Female,1988.0,1,0,1
11,2017-01-01 00:18:28,2017-01-01 00:31:05,757,Canal St & Madison St,LaSalle St & Illinois St,Customer,NaN,NaN,1,0,1
12,2017-01-01 00:18:50,2017-01-01 00:21:47,177,Theater on the Lake,Lakeview Ave & Fullerton Pkwy,Subscriber,Male,1991.0,1,0,1
13,2017-01-01 00:23:41,2017-01-01 00:29:13,332,Halsted St & Maxwell St,Halsted St & 18th St,Subscriber,Male,1984.0,1,0,1
14,2017-01-01 00:25:47,2017-01-01 00:39:53,846,Ravenswood Ave & Lawrence Ave,Clarendon Ave & Gordon Ter,Subscriber,Female,1987.0,1,0,1
15,2017-01-01 00:25:47,2017-01-01 00:43:23,1056,Clark St & Congress Pkwy,Wolcott Ave & Polk St,Subscriber,Male,1984.0,1,0,1
16,2017-01-01 00:26:21,2017-01-01 00:39:40,799,Ravenswood Ave & Lawrence Ave,Clarendon Ave & Gordon Ter,Subscriber,Male,1987.0,1,0,1
17,2017-01-01 00:27:21,2017-01-01 00:42:59,938,Millennium Park,Michigan Ave & 18th St,Subscriber,Male,1991.0,1,0,1
18,2017-01-01 00:27:28,2017-01-01 00:42:44,916,Millennium Park,Michigan Ave & 18th St,Subscriber,Female,1990.0,1,0,1
19,2017-01-01 00:27:45,2017-01-01 00:31:13,208,Damen Ave & Chicago Ave,Damen Ave & Division St,Subscriber,Male,1982.0,1,0,1
20,2017-01-01 00:27:52,2017-01-01 00:33:46,354,Paulina Ave & North Ave,Damen Ave & Division St,Subscriber,Female,1982.0,1,0,1
21,2017-01-01 00:30:07,2017-01-01 00:34:32,265,Wilton Ave & Diversey Pkwy,Halsted St & Wrightwood Ave,Customer,NaN,NaN,1,0,1
22,2017-01-01 00:30:10,2017-01-01 01:10:34,2424,Lake Shore Dr & Ohio St,Broadway & Barry Ave,Subscriber,Female,1985.0,1,0,1
23,2017-01-01 00:32:58,2017-01-01 00:41:59,541,LaSalle St & Illinois St,State St & Kinzie St,Customer,NaN,NaN,1,0,1
24,2017-01-01 00:33:39,2017-01-01 00:41:09,450,Greenview Ave & Jarvis Ave,Clark St & Lunt Ave,Subscriber,Female,1979.0,1,0,1
25,2017-01-01 00:34:23,2017-01-01 00:40:56,393,Greenview Ave & Jarvis Ave,Eastlake Ter & Rogers Ave,Subscriber,Male,1961.0,1,0,1
26,2017-01-01 00:35:23,2017-01-01 01:05:22,1799,McClurg Ct & Illinois St,Fairbanks Ct & Grand Ave,Customer,NaN,NaN,1,0,1
27,2017-01-01 00:35:26,2017-01-01 00:47:54,748,Larrabee St & Menomonee St,Clark St & Wrightwood Ave,Subscriber,Male,1990.0,1,0,1
28,2017-01-01 00:35:32,2017-01-01 00:48:07,755,Larrabee St & Menomonee St,Clark St & Wrightwood Ave,Subscriber,Female,1989.0,1,0,1
29,2017-01-01 00:35:34,2017-01-01 01:05:26,1792,McClurg Ct & Illinois St,Fairbanks Ct & Grand Ave,Customer,NaN,NaN,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1062675,2017-06-01 23:47:51,2017-06-02 00:03:12,921,Michigan Ave & Jackson Blvd,Ashland Ave & Lake St,Subscriber,Male,1975.0,1,23,6
1062676,2017-06-01 23:47:52,2017-06-01 23:54:58,426,Franklin St & Chicago Ave,Clark St & Lake St,Subscriber,Male,1987.0,1,23,6
1062677,2017-06-01 23:48:08,2017-06-01 23:50:49,161,Rush St & Hubbard St,McClurg Ct & Illinois St,Subscriber,Female,1985.0,1,23,6
1062678,2017-06-01 23:48:09,2017-06-01 23:54:25,376,May St & Cullerton St,Racine Ave & 18th St,Subscriber,Male,1991.0,1,23,6
1062679,2017-06-01 23:48:26,2017-06-02 00:08:43,1217,McClurg Ct & Illinois St,Sheffield Ave & Willow St,Subscriber,Male,1991.0,1,23,6
1062680,2017-06-01 23:48:35,2017-06-02 00:02:34,839,Wilton Ave & Belmont Ave,Lake Shore Dr & Wellington Ave,Subscriber,Male,1990.0,1,23,6
1062681,2017-06-01 23:48:51,2017-06-02 00:02:44,833,Wilton Ave & Belmont Ave,Lake Shore Dr & Wellington Ave,Subscriber,Male,1989.0,1,23,6
1062682,2017-06-01 23:49:26,2017-06-01 23:59:48,622,Wood St & Taylor St,Peoria St & Jackson Blvd,Subscriber,Female,1984.0,1,23,6
1062683,2017-06-01 23:49:36,2017-06-01 23:59:56,620,Michigan Ave & Jackson Blvd,Lake Shore Dr & Ohio St,Subscriber,Male,1985.0,1,23,6
1062684,2017-06-01 23:49:46,2017-06-01 23:54:11,265,Kedzie Ave & Milwaukee Ave,California Ave & Milwaukee Ave,Subscriber,Male,1990.0,1,23,6
1062685,2017-06-01 23:49:47,2017-06-02 00:02:53,786,Wilton Ave & Belmont Ave,Lake Shore Dr & Wellington Ave,Subscriber,Male,1990.0,1,23,6
1062686,2017-06-01 23:49:59,2017-06-02 00:19:40,1781,Halsted St & Willow St,Lincoln Ave & Belle Plaine Ave,Subscriber,Male,1984.0,1,23,6
1062687,2017-06-01 23:50:27,2017-06-02 00:06:08,941,Lincoln Ave & Diversey Pkwy,Paulina Ave & North Ave,Subscriber,Male,1993.0,1,23,6
1062688,2017-06-01 23:50:35,2017-06-01 23:54:17,222,Greenview Ave & Jarvis Ave,Eastlake Ter & Rogers Ave,Subscriber,Female,1990.0,1,23,6
1062689,2017-06-01 23:52:44,2017-06-02 00:03:41,657,LaSalle St & Jackson Blvd,Michigan Ave & 18th St,Subscriber,Male,1984.0,1,23,6
1062690,2017-06-01 23:52:45,2017-06-02 00:00:00,435,Racine Ave & Fullerton Ave,Wilton Ave & Diversey Pkwy,Subscriber,Male,1993.0,1,23,6
1062691,2017-06-01 23:52:51,2017-06-01 23:59:23,392,Racine Ave & Fullerton Ave,Wilton Ave & Diversey Pkwy,Subscriber,Male,1994.0,1,23,6
1062692,2017-06-01 23:52:59,2017-06-02 00:02:09,550,St. Clair St & Erie St,Larrabee St & Oak St,Subscriber,Male,1972.0,1,23,6
1062693,2017-06-01 23:53:12,2017-06-02 00:27:14,2042,McClurg Ct & Illinois St,Halsted St & 18th St,Subscriber,Male,1984.0,1,23,6
1062694,2017-06-01 23:53:36,2017-06-01 23:57:45,249,Princeton Ave & 47th St,Halsted St & 47th Pl,Subscriber,Male,1964.0,1,23,6
1062695,2017-06-01 23:53:55,2017-06-02 00:12:19,1104,Logan Blvd & Elston Ave,Claremont Ave & Hirsch St,Subscriber,Male,1979.0,1,23,6
1062696,2017-06-01 23:53:59,2017-06-02 00:43:42,2983,Ravenswood Ave & Berteau Ave,Ravenswood Ave & Berteau Ave,Subscriber,Male,1980.0,1,23,6
1062697,2017-06-01 23:54:28,2017-06-02 00:30:36,2168,Morgan St & Polk St,MLK Jr Dr & 29th St,Subscriber,Male,1992.0,1,23,6
1062698,2017-06-01 23:54:29,2017-06-02 00:07:05,756,State St & Van Buren St,Michigan Ave & 18th St,Subscriber,Male,1982.0,1,23,6
1062699,2017-06-01 23:56:01,2017-06-02 00:12:18,977,Seeley Ave & Roscoe St,Halsted St & Diversey Pkwy,Subscriber,Male,1986.0,1,23,6
1062700,2017-06-01 23:56:09,2017-06-02 00:11:51,942,Clinton St & Madison St,Damen Ave & Division St,Subscriber,Male,1992.0,1,23,6
1062701,2017-06-01 23:56:11,2017-06-02 00:06:44,633,Wood St & 35th St,Damen Ave & Cullerton St,Subscriber,Male,1997.0,1,23,6
1062702,2017-06-01 23:56:19,2017-06-02 00:05:12,533,Western Ave & Winnebago Ave,Marshfield Ave & Cortland St,Subscriber,Male,1973.0,1,23,6
1062703,2017-06-01 23:56:36,2017-06-02 00:02:48,372,Larrabee St & Armitage Ave,Sheffield Ave & Webster Ave,Subscriber,Male,1992.0,1,23,6
1062704,2017-06-01 23:56:43,2017-06-02 00:22:07,1524,LaSalle St & Washington St,Stockton Dr & Wrightwood Ave,Subscriber,Female,1980.0,1,23,6

In [305]:
df = get_data("chicago.csv")

In [311]:
round(df["Trip Duration"].sum()/60/60, 2)

405019.41

In [325]:
def trip_duration(df):

    duration_hours = round(df["Trip Duration"].sum()/60/60, 2)
    avg_hours = round(df["Trip Duration"].mean(), 2)
    
    return duration_hours, avg_hours

In [326]:
trip_duration(df)

(405019.41, 939.78)

In [316]:
df = get_data("chicago.csv")

In [319]:
a = df["Trip Duration"]

In [324]:
a.mean()

939.7777590146342

In [378]:
def popular_stations(df):
    start_station = df.groupby(df["Start Station"]).size().to_dict()
    end_station = df.groupby(df["End Station"]).size().to_dict()
    
    start_station = list(start_station.items())
    end_station = list(end_station.items())
    
    start_station_sorted = sorted(start_station, key=lambda x: x[1], reverse=True)
    end_station_sorted = sorted(end_station, key=lambda x: x[1], reverse=True)

    
    popular_start_station = start_station_sorted[0][0]
    popular_end_station = end_station_sorted[0][0]
    
    
    return popular_start_station, popular_end_station

In [381]:
df = get_data("new_york_city.csv")

In [382]:
popular_stations(a)

('Pershing Square North', 'Pershing Square North')

In [383]:
a.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:21,2017-01-01 00:11:41,680,W 82 St & Central Park West,Central Park West & W 72 St,Subscriber,Female,1965.0
1,2017-01-01 00:00:45,2017-01-01 00:22:08,1282,Cooper Square & E 7 St,Broadway & W 32 St,Subscriber,Female,1987.0
2,2017-01-01 00:00:57,2017-01-01 00:11:46,648,5 Ave & E 78 St,3 Ave & E 71 St,Customer,NaN,NaN
3,2017-01-01 00:01:10,2017-01-01 00:11:42,631,5 Ave & E 78 St,3 Ave & E 71 St,Customer,NaN,NaN
4,2017-01-01 00:01:25,2017-01-01 00:11:47,621,5 Ave & E 78 St,3 Ave & E 71 St,Customer,NaN,NaN

In [387]:
a.groupby(a["User Type"]).size()

User Type
Customer       685973
Subscriber    6114372
dtype: int64

In [388]:
def users(df):
    user_count = df.groupby(df["User Type"]).size().to_dict()
    user_count = list(user_count.items())
    
    return user_count

In [389]:
df = get_data("new_york_city.csv")

In [390]:
user_count = users(df)

In [391]:
user_count

[('Customer', 685973), ('Subscriber', 6114372)]

In [392]:
df.groupby("Gender").size()

Gender
Female    1506643
Male      4641506
dtype: int64

In [393]:
def gender(df):
    
    gender_count = df.groupby("Gender").size().to_dict()
    gender_count = list(gender_count.items())
    
    return gender_count

In [394]:
gender(df)

[('Female', 1506643), ('Male', 4641506)]

In [425]:
def popular_trip(df):
    
    df["Trip"] = df["Start Station"] + "__" + df["End Station"]
    trips = df.groupby("Trip").size().to_dict()
    trips = list(trips.items())
    
    popular_trips_sorted = sorted(trips, key=lambda x: x[1], reverse=True)
    
    return popular_trips_sorted[0]

In [426]:
df = get_data("new_york_city.csv")

In [427]:
popular_trip(df)

('E 7 St & Avenue A__Cooper Square & E 7 St', 3641)

In [449]:
df = get_data("chicago.csv")

In [450]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0

In [451]:
birth_years = df.groupby(df["Birth Year"]).size().to_dict()

In [453]:
birth_years = list(birth_years.items())

In [461]:
sorted_birth_count = sorted(birth_years, key=lambda x: x[1], reverse=True)

In [462]:
most_popular_year = sorted_birth_count[0]

In [463]:
most_popular_year

(1989.0, 76489)

In [466]:
sorted_birth_year = sorted(birth_years, key=lambda x: x[0])

In [469]:
earliest_year, recent_year = sorted_birth_year[0], sorted_birth_year[-1]

In [470]:
earliest_year

(1899.0, 52)

In [471]:
recent_year

(2016.0, 14)

In [472]:
def birth(df):
    birth_years = df.groupby(df["Birth Year"]).size().to_dict()
    birth_years = list(birth_years.items())
    
    sorted_birth_count = sorted(birth_years, key=lambda x: x[1], reverse=True)
    sorted_birth_year = sorted(birth_years, key=lambda x: x[0])
    
    most_popular_year = sorted_birth_count[0]
    earliest_year, recent_year = sorted_birth_year[0], sorted_birth_year[-1]
    
    return most_popular_year, earliest_year, recent_year

In [475]:
df = get_data("chicago.csv")

In [476]:
birth(df)

((1989.0, 76489), (1899.0, 52), (2016.0, 14))

In [481]:
def get_city():
    '''Asks the user for a city and returns the filename for that city's bike share data.

    Args:
        none.
    Returns:
        (str) Filename for a city's bikeshare data.
    '''
    city = input('\nHello! Let\'s explore some US bikeshare data!\n'
                 'Would you like to see data for Chicago, New York, or Washington?\n')
    
    city = city.strip().lower()
    file_name = "_".join(city.split()) + ".csv"
    
    return file_name

In [483]:
get_city()

Hello! Let's explore some US bikeshare data!
Would you like to see data for Chicago, New York, or Washington?
chicago

'chicago.csv'

In [484]:
!ls

Bikesharing.ipynb chicago.csv       new_york_city.csv
bikeshare.py      my_bikeshare.py   washington.csv

In [486]:
def get_time_period():
    '''Asks the user for a time period and returns the specified filter.

    Args:
        none.
    Returns:
        fill out return type and description (see get_city for an example)
    '''
    time_period = input('\nWould you like to filter the data by month, day, or not at'
                        ' all? Type "none" for no time filter.\n')
    
    time_period = time_period.strip().lower()
    if time_period not in ["month", "day", "none"]:
        print("Enter a valide filer, [month, day, none]")
        sys.exit(0)
    
    else:
        return time_period

In [490]:
get_time_period()

Would you like to filter the data by month, day, or not at all? Type "none" for no time filter.
Month

'month'

In [518]:
def get_month():
    
    month_to_num = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, \
                    'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}
    
    month = input('\nWhich month? January, February, March, April, May, or June?\n')
    month = month.strip()[:3].capitalize()
    
    if month not in month_to_num.keys():
        print("Enter a valid month, [Jan, Feb, .. Dec]")
        sys.exit(0)
    else:
        return month_to_num[month]

In [519]:
get_month()

Which month? January, February, March, April, May, or June?
Jan

1

In [528]:
def get_day():

    day = input('\nWhich day? Please type your response as an integer.\n')
    
    if int(day) not in range(7):
        print("Enter a valid day in integet, [0 -> Monday, 1-> Tuesday, .. 6 -> Sunday]")
        sys.exit(0)
    else:
        return int(day)

In [530]:
get_day()

Which day? Please type your response as an integer.
5

5

In [540]:
import os
import glob

pwd = os.getcwd()
file_name = [os.path.basename(p) for p in glob.glob(pwd + "/*.csv")]

In [541]:
file_name

['chicago.csv', 'new_york_city.csv', 'washington.csv']

In [542]:
"chicago.csv" in file_name

True

In [547]:
def get_city():
    '''Asks the user for a city and returns the filename for that city's bike share data.

    Args:
        none.
    Returns:
        (str) Filename for a city's bikeshare data.
    '''
    city = input('\nHello! Let\'s explore some US bikeshare data!\n'
                 'Would you like to see data for Chicago, New York, or Washington?\n')

    city = city.strip().lower()
    file_name = "_".join(city.split()) + ".csv"

    city_data_available  = [os.path.basename(p) for p in glob.glob(pwd + "/*.csv")]

    if file_name not in city_data_available:
        print(f"Data file '{file_name}' for the city '{city}' is not available")
        print("Available dataset are: {}".format(city_data_available))
        sys.exit(0)
    else:
        return file_name

In [550]:
get_city()

Hello! Let's explore some US bikeshare data!
Would you like to see data for Chicago, New York, or Washington?
new york
Data file 'new_york.csv' for the city 'new york' is not available
Available dataset are: ['chicago.csv', 'new_york_city.csv', 'washington.csv']

SystemExit: 0

/Users/dsuman/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2870: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [551]:
def popular_month(df):
    '''
    Returns the most popular month for start

    :param df: Takes the dataframe
    :return: The most popular month of the year, like Jan, Feb, etc.
    '''

    num_to_month = {1: "Jan", 2: "Feb", 3: "Mar", 4: "Apr", 5: "May", 6: "Jun", 7: "Jul", \
                    8: "Aug", 9: "Sep", 10: "Oct", 11: "Nov", 12: "Dec"}

    df["Month_of_Start"] = df["Start Time"].dt.month
    month_stats = df.groupby(["Month_of_Start"]).size().to_dict()

    month_stats = list(month_stats.items())

    sorted_by_months = sorted(month_stats, key=lambda x: x[1], reverse=True)

    popular_month = num_to_month[sorted_by_months[0][0]]
    no_of_ride = sorted_by_months[0][1]

    return popular_month, no_of_ride

In [554]:
city_file_name = get_city()

Hello! Let's explore some US bikeshare data!
Would you like to see data for Chicago, New York, or Washington?
chicago

In [555]:
city_file_name

'chicago.csv'

In [557]:
df = get_data(city_file_name)

In [561]:
        df = get_data(city_file_name)
        month, count = popular_month(df)
        print(f"The most popular month for bikesharing is '{month.upper()}' with '{count}' numbers of rides")

The most popular month for bikesharing is 'JUN' with '505164' numbers of rides

In [562]:
        day, count = popular_day(df)
        print(f"The most popular day for bikesharing is '{day.upper()}' with '{count}' numbers of rides")

The most popular day for bikesharing is 'TUESDAY' with '237586' numbers of rides

In [566]:
import time

city_file_name = get_city()
time_period = get_time_period()
# Loading the data
start_time = time.time()
df = get_data(city_file_name)
time.time() - start_time()

Hello! Let's explore some US bikeshare data!
Would you like to see data for Chicago, New York, or Washington?
chicago

Would you like to filter the data by month, day, or not at all? Type "none" for no time filter.
none

TypeError: 'float' object is not callable

In [569]:
a = time.time()

In [571]:
b = time.time() - a

In [572]:
b

8.726245880126953

In [573]:
round(b, 2)

8.73

In [574]:
def users(df):
    '''
    This function returns the counts of each user type
    :param df: Takes a city data in the form of a dataframe
    :return: Returns a list of tuples with user time and user count
    '''

    user_count = df.groupby(df["User Type"]).size().to_dict()
    user_count = list(user_count.items())

    return user_count

In [577]:
all_users = users(df)

In [578]:
all_users

[('Customer', 317162), ('Dependent', 4), ('Subscriber', 1234339)]

In [579]:
for i in all_users:
    print(i[0], i[1])

Customer 317162
Dependent 4
Subscriber 1234339

In [615]:
def display_data():
    '''Displays five lines of data if the user specifies that they would like to.
    After displaying five lines, ask the user if they would like to see five more,
    continuing asking until they say stop.

    Args:
        none.
    Returns:
        TODO: fill out return type and description (see get_city for an example)
    '''
    display = "yes"
    end = 5
    start = 0
    while display.lower() == "yes":
        dfRange = df.iloc[start:end]
        print(dfRange)
        start = end
        end += 5
        
        display = input('Would you like to view individual trip data?'
                    'Type \'yes\' or \'no\'. ')

In [602]:
df = get_data("chicago.csv")

In [616]:
display_data()

           Start Time             End Time  Trip Duration  \
0 2017-01-01 00:00:36  2017-01-01 00:06:32            356
1 2017-01-01 00:02:54  2017-01-01 00:08:21            327
2 2017-01-01 00:06:06  2017-01-01 00:18:31            745
3 2017-01-01 00:07:28  2017-01-01 00:12:51            323
4 2017-01-01 00:07:57  2017-01-01 00:20:53            776

                          Start Station                   End Station  \
0                  Canal St & Taylor St      Canal St & Monroe St (*)
1            Larrabee St & Menomonee St  Sheffield Ave & Kingsbury St
2  Orleans St & Chestnut St (NEXT Apts)    Ashland Ave & Blackhawk St
3               Franklin St & Monroe St        Clinton St & Tilden St
4                  Broadway & Barry Ave       Sedgwick St & North Ave

    User Type Gender  Birth Year
0    Customer    NaN         NaN
1  Subscriber   Male      1984.0
2  Subscriber   Male      1985.0
3  Subscriber   Male      1990.0
4  Subscriber   Male      1990.0
Would you like to view individual trip data?Type 'yes' or 'no'. yes
           Start Time             End Time  Trip Duration  \
5 2017-01-01 00:10:44  2017-01-01 00:21:27            643
6 2017-01-01 00:11:34  2017-01-01 00:23:47            733
7 2017-01-01 00:14:57  2017-01-01 00:26:22            685
8 2017-01-01 00:15:03  2017-01-01 00:26:28            685
9 2017-01-01 00:17:01  2017-01-01 00:29:49            768

            Start Station               End Station   User Type Gender  \
5    State St & Kinzie St        Wells St & Polk St  Subscriber   Male
6  Wabash Ave & Wacker Pl    Clinton St & Tilden St  Subscriber   Male
7      Daley Center Plaza  Canal St & Monroe St (*)    Customer    NaN
8      Daley Center Plaza  Canal St & Monroe St (*)    Customer    NaN
9   Dayton St & North Ave   Ogden Ave & Chicago Ave    Customer    NaN

   Birth Year
5      1970.0
6      1986.0
7         NaN
8         NaN
9         NaN
Would you like to view individual trip data?Type 'yes' or 'no'. yes
            Start Time             End Time  Trip Duration  \
10 2017-01-01 00:17:13  2017-01-01 11:03:34          38781
11 2017-01-01 00:18:28  2017-01-01 00:31:05            757
12 2017-01-01 00:18:50  2017-01-01 00:21:47            177
13 2017-01-01 00:23:41  2017-01-01 00:29:13            332
14 2017-01-01 00:25:47  2017-01-01 00:39:53            846

                    Start Station                    End Station   User Type  \
10     Wilton Ave & Diversey Pkwy    Halsted St & Wrightwood Ave  Subscriber
11          Canal St & Madison St       LaSalle St & Illinois St    Customer
12            Theater on the Lake  Lakeview Ave & Fullerton Pkwy  Subscriber
13        Halsted St & Maxwell St           Halsted St & 18th St  Subscriber
14  Ravenswood Ave & Lawrence Ave     Clarendon Ave & Gordon Ter  Subscriber

    Gender  Birth Year
10  Female      1988.0
11     NaN         NaN
12    Male      1991.0
13    Male      1984.0
14  Female      1987.0
Would you like to view individual trip data?Type 'yes' or 'no'. no

In [617]:
df = get_data("chicago.csv")

In [621]:
df[ df["Start Time"].dt.month == ]

Empty DataFrame
Columns: [Start Time, End Time, Trip Duration, Start Station, End Station, User Type, Gender, Birth Year]
Index: []

In [623]:
df = df[ df["Start Time"].dt.month == 3]

In [629]:
import numpy as np
df.index = np.arange(0, len(df))

In [631]:
df.head(100)

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-03-01 00:03:37,2017-03-01 00:20:05,988,Clark St & Bryn Mawr Ave,Greenview Ave & Jarvis Ave,Subscriber,Male,1992.0
1,2017-03-01 00:15:17,2017-03-01 00:18:01,164,Sheridan Rd & Montrose Ave,Broadway & Wilson Ave,Subscriber,Female,1992.0
2,2017-03-01 00:19:42,2017-03-01 00:27:04,442,Canal St & Harrison St,Clinton St & Washington Blvd,Subscriber,Male,1952.0
3,2017-03-01 00:21:23,2017-03-01 00:29:39,496,Lincoln Ave & Leavitt St,Clark St & Montrose Ave,Subscriber,Female,1986.0
4,2017-03-01 00:22:58,2017-03-01 00:33:05,607,St. Clair St & Erie St,Larrabee St & Division St,Subscriber,Male,1990.0
5,2017-03-01 00:35:00,2017-03-01 00:43:12,492,Rush St & Hubbard St,Streeter Dr & Grand Ave,Subscriber,Male,1959.0
6,2017-03-01 00:46:16,2017-03-01 00:52:28,372,Damen Ave & Division St,Leavitt St & Armitage Ave,Subscriber,Male,1975.0
7,2017-03-01 00:49:35,2017-03-01 00:56:26,411,California Ave & Milwaukee Ave,Drake Ave & Fullerton Ave,Subscriber,Male,1977.0
8,2017-03-01 00:50:59,2017-03-01 00:57:18,379,Ellis Ave & 55th St,Lake Park Ave & 53rd St,Subscriber,Male,1985.0
9,2017-03-01 00:58:40,2017-03-01 01:05:01,381,Princeton Ave & 47th St,Halsted St & 47th Pl,Subscriber,Male,1976.0
10,2017-03-01 01:21:13,2017-03-01 01:28:15,422,Humboldt Blvd & Armitage Ave,California Ave & Altgeld St,Subscriber,Male,1980.0
11,2017-03-01 01:27:05,2017-03-01 01:30:05,180,Ellis Ave & 55th St,Ellis Ave & 53rd St,Subscriber,Female,1991.0
12,2017-03-01 01:40:59,2017-03-01 01:42:42,103,Michigan Ave & Madison St,Dearborn St & Monroe St,Subscriber,Male,1971.0
13,2017-03-01 01:51:04,2017-03-01 02:11:34,1230,Lake Shore Dr & Belmont Ave,Rush St & Superior St,Subscriber,Male,1979.0
14,2017-03-01 01:52:20,2017-03-01 02:13:49,1289,Western Ave & Winnebago Ave,Claremont Ave & Hirsch St,Subscriber,Male,1979.0
15,2017-03-01 01:56:38,2017-03-01 02:13:31,1013,Larrabee St & Oak St,Franklin St & Jackson Blvd,Subscriber,Male,1994.0
16,2017-03-01 02:12:25,2017-03-01 03:00:26,2881,Halsted St & 56th St,Halsted St & 56th St,Customer,NaN,NaN
17,2017-03-01 02:12:49,2017-03-01 03:00:42,2873,Halsted St & 56th St,Halsted St & 56th St,Customer,NaN,NaN
18,2017-03-01 02:20:49,2017-03-01 02:33:42,773,Franklin St & Jackson Blvd,Clinton St & 18th St,Subscriber,Male,1976.0
19,2017-03-01 02:44:22,2017-03-01 02:59:47,925,Halsted St & Polk St,Lake Shore Dr & Monroe St,Subscriber,Male,1996.0
20,2017-03-01 02:59:56,2017-03-01 03:07:34,458,Larrabee St & Webster Ave,Racine Ave & Fullerton Ave,Subscriber,Male,1995.0
21,2017-03-01 03:08:04,2017-03-01 03:27:10,1146,Dusable Harbor,Clark St & Elm St,Subscriber,Male,1996.0
22,2017-03-01 03:25:31,2017-03-01 03:31:56,385,Wabash Ave & Adams St,Michigan Ave & 14th St,Subscriber,Male,1989.0
23,2017-03-01 03:33:40,2017-03-01 03:57:00,1400,Rush St & Cedar St,Halsted St & Polk St,Subscriber,Male,1996.0
24,2017-03-01 03:44:34,2017-03-01 03:56:15,701,Manor Ave & Leland Ave,Lincoln Ave & Waveland Ave,Subscriber,Female,1984.0
25,2017-03-01 04:24:13,2017-03-01 04:31:14,421,Broadway & Belmont Ave,Broadway & Waveland Ave,Subscriber,Male,1989.0
26,2017-03-01 04:32:15,2017-03-01 04:39:02,407,Ellis Ave & 53rd St,Calumet Ave & 51st St,Subscriber,Male,1991.0
27,2017-03-01 04:41:28,2017-03-01 04:47:43,375,Spaulding Ave & Division St,Kedzie Ave & Lake St,Subscriber,Male,1969.0
28,2017-03-01 04:48:32,2017-03-01 04:54:21,349,Broadway & Barry Ave,Broadway & Cornelia Ave,Subscriber,Male,1988.0
29,2017-03-01 04:49:21,2017-03-01 05:06:42,1041,Artesian Ave & Hubbard St,Wacker Dr & Washington St,Subscriber,Male,1959.0
...,...,...,...,...,...,...,...,...
70,2017-03-01 05:36:53,2017-03-01 05:47:31,638,Canal St & Adams St,St. Clair St & Erie St,Subscriber,Male,1977.0
71,2017-03-01 05:37:01,2017-03-01 05:47:07,606,Clinton St & Jackson Blvd,Michigan Ave & 14th St,Subscriber,Male,1970.0
72,2017-03-01 05:37:01,2017-03-01 05:40:05,184,Canal St & Madison St,Clinton St & Lake St,Subscriber,Female,1965.0
73,2017-03-01 05:37:22,2017-03-01 05:52:31,909,Canal St & Adams St,State St & Pearson St,Subscriber,Male,1951.0
74,2017-03-01 05:37:24,2017-03-01 05:42:48,324,Indiana Ave & 31st St,MLK Jr Dr & 29th St,Subscriber,Male,1994.0
75,2017-03-01 05:37:31,2017-03-01 05:46:13,522,Canal St & Adams St,Michigan Ave & Lake St,Subscriber,Male,1964.0
76,2017-03-01 05:37:49,2017-03-01 05:53:18,929,Canal St & Adams St,McClurg Ct & Erie St,Subscriber,Male,1968.0
77,2017-03-01 05:37:53,2017-03-01 05:45:31,458,Field Blvd & South Water St,Dearborn St & Erie St,Subscriber,Female,1981.0
78,2017-03-01 05:37:51,2017-03-01 05:43:15,324,Clifton Ave & Lawrence Ave,Ravenswood Ave & Lawrence Ave,Subscriber,Female,1984.0
79,2017-03-01 05:37:53,2017-03-01 05:48:35,642,Lincoln Ave & Diversey Pkwy,Clark St & Lincoln Ave,Subscriber,Female,1983.0
80,2017-03-01 05:38:04,2017-03-01 06:08:17,1813,Blue Island Ave & 18th St,Mies van der Rohe Way & Chicago Ave,Subscriber,Female,1988.0
81,2017-03-01 05:38:09,2017-03-01 05:41:21,192,Campbell Ave & Fullerton Ave,Western Ave & Winnebago Ave,Subscriber,Male,1983.0
82,2017-03-01 05:38:27,2017-03-01 05:51:54,807,Dayton St & North Ave,Clinton St & Jackson Blvd,Subscriber,Male,1983.0
83,2017-03-01 05:38:40,2017-03-01 05:46:57,497,Canal St & Adams St,Michigan Ave & Washington St,Subscriber,Male,1959.0
84,2017-03-01 05:38:52,2017-03-01 05:53:21,869,Halsted St & 18th St,Franklin St & Jackson Blvd,Subscriber,Male,1981.0
85,2017-03-01 05:39:22,2017-03-01 05:49:30,608,Sedgwick St & North Ave,Wabash Ave & Grand Ave,Subscriber,Male,1957.0
86,2017-03-01 05:39:30,2017-03-01 05:48:35,545,Michigan Ave & 18th St,LaSalle St & Adams St,Subscriber,Male,1964.0
87,2017-03-01 05:40:36,2017-03-01 05:43:41,185,Clark St & Elm St,Clark St & Chicago Ave,Subscriber,Female,1985.0
88,2017-03-01 05:41:03,2017-03-01 05:48:54,471,Michigan Ave & Washington St,Clinton St & Washington Blvd,Subscriber,Female,1968.0
89,2017-03-01 05:41:42,2017-03-01 05:56:07,865,Wells St & Concord Ln,Clinton St & Washington Blvd,Subscriber,Male,1992.0
90,2017-03-01 05:42:04,2017-03-01 05:46:08,244,Franklin St & Monroe St,Clark St & Lake St,Subscriber,Male,1972.0
91,2017-03-01 05:42:13,2017-03-01 05:53:01,648,Wells St & Huron St,Michigan Ave & Oak St,Subscriber,Male,1963.0
92,2017-03-01 05:42:15,2017-03-01 06:01:50,1175,Lake Park Ave & 56th St,Kimbark Ave & 53rd St,Subscriber,Male,1994.0
93,2017-03-01 05:42:20,2017-03-01 05:45:17,177,Wood St & Milwaukee Ave,Ashland Ave & Division St,Subscriber,Male,1987.0
94,2017-03-01 05:42:44,2017-03-01 05:46:50,246,Greenview Ave & Fullerton Ave,Sheffield Ave & Fullerton Ave,Customer,NaN,NaN
95,2017-03-01 05:42:51,2017-03-01 05:47:40,289,Sheffield Ave & Webster Ave,Wilton Ave & Diversey Pkwy,Subscriber,Male,1993.0
96,2017-03-01 05:43:18,2017-03-01 05:49:06,348,Michigan Ave & Washington St,LaSalle St & Washington St,Subscriber,Male,1958.0
97,2017-03-01 05:44:17,2017-03-01 05:50:16,359,McClurg Ct & Illinois St,Dearborn St & Erie St,Subscriber,Male,1989.0
98,2017-03-01 05:44:45,2017-03-01 05:56:04,679,Canal St & Adams St,St. Clair St & Erie St,Subscriber,Male,1980.0
99,2017-03-01 05:45:11,2017-03-01 05:47:07,116,Sheffield Ave & Webster Ave,Bissell St & Armitage Ave,Subscriber,Male,1983.0

In [638]:
df = get_data("chicago.csv")

In [639]:
df.head(100)

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0
5,2017-01-01 00:10:44,2017-01-01 00:21:27,643,State St & Kinzie St,Wells St & Polk St,Subscriber,Male,1970.0
6,2017-01-01 00:11:34,2017-01-01 00:23:47,733,Wabash Ave & Wacker Pl,Clinton St & Tilden St,Subscriber,Male,1986.0
7,2017-01-01 00:14:57,2017-01-01 00:26:22,685,Daley Center Plaza,Canal St & Monroe St (*),Customer,NaN,NaN
8,2017-01-01 00:15:03,2017-01-01 00:26:28,685,Daley Center Plaza,Canal St & Monroe St (*),Customer,NaN,NaN
9,2017-01-01 00:17:01,2017-01-01 00:29:49,768,Dayton St & North Ave,Ogden Ave & Chicago Ave,Customer,NaN,NaN
10,2017-01-01 00:17:13,2017-01-01 11:03:34,38781,Wilton Ave & Diversey Pkwy,Halsted St & Wrightwood Ave,Subscriber,Female,1988.0
11,2017-01-01 00:18:28,2017-01-01 00:31:05,757,Canal St & Madison St,LaSalle St & Illinois St,Customer,NaN,NaN
12,2017-01-01 00:18:50,2017-01-01 00:21:47,177,Theater on the Lake,Lakeview Ave & Fullerton Pkwy,Subscriber,Male,1991.0
13,2017-01-01 00:23:41,2017-01-01 00:29:13,332,Halsted St & Maxwell St,Halsted St & 18th St,Subscriber,Male,1984.0
14,2017-01-01 00:25:47,2017-01-01 00:39:53,846,Ravenswood Ave & Lawrence Ave,Clarendon Ave & Gordon Ter,Subscriber,Female,1987.0
15,2017-01-01 00:25:47,2017-01-01 00:43:23,1056,Clark St & Congress Pkwy,Wolcott Ave & Polk St,Subscriber,Male,1984.0
16,2017-01-01 00:26:21,2017-01-01 00:39:40,799,Ravenswood Ave & Lawrence Ave,Clarendon Ave & Gordon Ter,Subscriber,Male,1987.0
17,2017-01-01 00:27:21,2017-01-01 00:42:59,938,Millennium Park,Michigan Ave & 18th St,Subscriber,Male,1991.0
18,2017-01-01 00:27:28,2017-01-01 00:42:44,916,Millennium Park,Michigan Ave & 18th St,Subscriber,Female,1990.0
19,2017-01-01 00:27:45,2017-01-01 00:31:13,208,Damen Ave & Chicago Ave,Damen Ave & Division St,Subscriber,Male,1982.0
20,2017-01-01 00:27:52,2017-01-01 00:33:46,354,Paulina Ave & North Ave,Damen Ave & Division St,Subscriber,Female,1982.0
21,2017-01-01 00:30:07,2017-01-01 00:34:32,265,Wilton Ave & Diversey Pkwy,Halsted St & Wrightwood Ave,Customer,NaN,NaN
22,2017-01-01 00:30:10,2017-01-01 01:10:34,2424,Lake Shore Dr & Ohio St,Broadway & Barry Ave,Subscriber,Female,1985.0
23,2017-01-01 00:32:58,2017-01-01 00:41:59,541,LaSalle St & Illinois St,State St & Kinzie St,Customer,NaN,NaN
24,2017-01-01 00:33:39,2017-01-01 00:41:09,450,Greenview Ave & Jarvis Ave,Clark St & Lunt Ave,Subscriber,Female,1979.0
25,2017-01-01 00:34:23,2017-01-01 00:40:56,393,Greenview Ave & Jarvis Ave,Eastlake Ter & Rogers Ave,Subscriber,Male,1961.0
26,2017-01-01 00:35:23,2017-01-01 01:05:22,1799,McClurg Ct & Illinois St,Fairbanks Ct & Grand Ave,Customer,NaN,NaN
27,2017-01-01 00:35:26,2017-01-01 00:47:54,748,Larrabee St & Menomonee St,Clark St & Wrightwood Ave,Subscriber,Male,1990.0
28,2017-01-01 00:35:32,2017-01-01 00:48:07,755,Larrabee St & Menomonee St,Clark St & Wrightwood Ave,Subscriber,Female,1989.0
29,2017-01-01 00:35:34,2017-01-01 01:05:26,1792,McClurg Ct & Illinois St,Fairbanks Ct & Grand Ave,Customer,NaN,NaN
...,...,...,...,...,...,...,...,...
70,2017-01-01 01:34:56,2017-01-01 01:48:31,815,Broadway & Sheridan Rd,Lake Shore Dr & Diversey Pkwy,Subscriber,Male,1989.0
71,2017-01-01 01:35:43,2017-01-01 01:39:12,209,Damen Ave & Division St,Western Ave & Division St,Subscriber,Male,1982.0
72,2017-01-01 01:36:15,2017-01-01 01:52:44,989,Kimball Ave & Belmont Ave,Christiana Ave & Lawrence Ave,Subscriber,Male,1985.0
73,2017-01-01 01:36:30,2017-01-01 01:48:09,699,Field Blvd & South Water St,Wabash Ave & 8th St,Subscriber,Male,1989.0
74,2017-01-01 01:36:43,2017-01-01 01:46:35,592,Ashland Ave & Division St,California Ave & Division St,Subscriber,Male,1987.0
75,2017-01-01 01:37:31,2017-01-01 01:50:28,777,Larrabee St & Kingsbury St,Green St & Randolph St,Subscriber,Male,1966.0
76,2017-01-01 01:44:03,2017-01-01 01:56:16,733,Glenwood Ave & Morse Ave,Western Ave & Lunt Ave,Subscriber,Male,1983.0
77,2017-01-01 01:45:33,2017-01-01 02:00:21,888,Wabash Ave & Roosevelt Rd,Normal Ave & Archer Ave,Customer,NaN,NaN
78,2017-01-01 01:47:29,2017-01-01 02:04:22,1013,Broadway & Argyle St,Broadway & Barry Ave,Subscriber,Male,1991.0
79,2017-01-01 01:48:44,2017-01-01 02:14:21,1537,Lake Shore Dr & Diversey Pkwy,Fairbanks Ct & Grand Ave,Subscriber,Male,1989.0
80,2017-01-01 01:51:19,2017-01-01 01:55:19,240,Green St & Randolph St,Jefferson St & Monroe St,Subscriber,Male,1966.0
81,2017-01-01 01:51:39,2017-01-01 01:57:30,351,State St & Kinzie St,Columbus Dr & Randolph St,Subscriber,Male,1980.0
82,2017-01-01 01:53:03,2017-01-01 02:04:44,701,McClurg Ct & Illinois St,LaSalle St & Illinois St,Subscriber,Female,1987.0
83,2017-01-01 01:53:36,2017-01-01 02:04:44,668,McClurg Ct & Illinois St,LaSalle St & Illinois St,Subscriber,Male,1987.0
84,2017-01-01 01:53:57,2017-01-01 01:58:12,255,May St & Taylor St,May St & Taylor St,Subscriber,Male,1997.0
85,2017-01-01 01:54:01,2017-01-01 02:18:58,1497,Kedzie Ave & Milwaukee Ave,Broadway & Barry Ave,Subscriber,Male,1981.0
86,2017-01-01 01:54:26,2017-01-01 02:12:06,1060,Noble St & Milwaukee Ave,Aberdeen St & Monroe St,Subscriber,Male,1975.0
87,2017-01-01 01:54:33,2017-01-01 02:11:43,1030,Wilton Ave & Belmont Ave,Lake Shore Dr & Belmont Ave,Subscriber,Male,1993.0
88,2017-01-01 01:57:15,2017-01-01 02:03:04,349,State St & Randolph St,Franklin St & Jackson Blvd,Subscriber,Male,1996.0
89,2017-01-01 01:57:22,2017-01-01 02:15:21,1079,Michigan Ave & Madison St,Larrabee St & Oak St,Subscriber,Male,1965.0
90,2017-01-01 01:58:52,2017-01-01 02:02:33,221,Cornell Ave & Hyde Park Blvd,Kimbark Ave & 53rd St,Subscriber,Male,1981.0
91,2017-01-01 01:59:00,2017-01-01 02:16:04,1024,Damen Ave & Melrose Ave,Clark St & Winnemac Ave,Subscriber,Male,1970.0
92,2017-01-01 02:01:39,2017-01-01 02:06:21,282,May St & Taylor St,Halsted St & Polk St,Subscriber,Male,1997.0
93,2017-01-01 02:02:24,2017-01-01 02:05:33,189,Clark St & Bryn Mawr Ave,Broadway & Ridge Ave,Subscriber,Male,1970.0
94,2017-01-01 02:02:30,2017-01-01 02:07:31,301,Racine Ave & Belmont Ave,Lincoln Ave & Diversey Pkwy,Subscriber,Male,1993.0
95,2017-01-01 02:04:32,2017-01-01 02:12:45,493,Hampden Ct & Diversey Pkwy,Racine Ave & Belmont Ave,Subscriber,Male,1984.0
96,2017-01-01 02:08:01,2017-01-01 02:23:02,901,Halsted St & Diversey Pkwy,Pine Grove Ave & Irving Park Rd,Customer,NaN,NaN
97,2017-01-01 02:08:09,2017-01-01 02:22:06,837,Halsted St & Diversey Pkwy,Pine Grove Ave & Irving Park Rd,Customer,NaN,NaN
98,2017-01-01 02:08:26,2017-01-01 02:22:46,860,Halsted St & Diversey Pkwy,Pine Grove Ave & Irving Park Rd,Customer,NaN,NaN
99,2017-01-01 02:08:44,2017-01-01 02:11:59,195,Woodlawn Ave & 55th St,Kimbark Ave & 53rd St,Subscriber,Male,1988.0

In [643]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1551505 entries, 0 to 1551504
Data columns (total 8 columns):
Start Time       1551505 non-null datetime64[ns]
End Time         1551505 non-null object
Trip Duration    1551505 non-null int64
Start Station    1551505 non-null object
End Station      1551505 non-null object
User Type        1551505 non-null object
Gender           1234638 non-null object
Birth Year       1234822 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 94.7+ MB

In [652]:
df = pd.read_csv("chicago.csv", parse_dates=[0, 1, 7])

In [654]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,nan
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0

In [658]:
df = pd.read_csv(city_file_name, parse_dates=[0, 1])

In [659]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1551505 entries, 0 to 1551504
Data columns (total 8 columns):
Start Time       1551505 non-null datetime64[ns]
End Time         1551505 non-null datetime64[ns]
Trip Duration    1551505 non-null int64
Start Station    1551505 non-null object
End Station      1551505 non-null object
User Type        1551505 non-null object
Gender           1234638 non-null object
Birth Year       1234822 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 94.7+ MB

In [673]:
df = get_data("chicago.csv")
df["Birth Year"] = df["Birth Year"].fillna("0").astype({"Birth Year" : "int32"})

In [677]:
        df = df[df["Start Time"].dt.month == 14]

In [682]:
bool(len(df))

False